#overview
    //-  Slider main container
    .swiper-container
        //- Additional required wrapper
        .swiper-wrapper
            //- Slides
            .swiper-slide slide1
            .swiper-slide slide2
            .swiper-slide slide3
        //- If we need pagination
        //- .swiper-pagination 
        //- If we need navigation buttons
        //- .swiper-button-prev
        //- .swiper-button-next
        //- If we need scrollbar 
        //- .swiper-scrollbar
    .navigation
        .logo
        .index
            .item 首页
            .item 产品与服务
            .item 企业文化
            .item 加入我们
            .item 关于我们
    .foreword
        .title 12312313123
        div(class="pagination" id="pagination")
            .page(accessKey="1") 
            .page(accessKey="2") 
            .page(accessKey="3") 
    script(src="overview.js")