//- extends index.pug
extends index.pug
block link
    link(rel="stylesheet", href="dist/about.page.css")
block content
    .about-us
        .breadcrumb
            span 首页 - 
            span 关于我们
        .context
            .text-level
                p.title 四川前程似锦科技有限公司
                p 
                |四川前程似锦科技有限公司，致力于整合线下教育培训和
                |课外游学拓展优质资源。推出了前程似锦教育平台，秉承着对
                |高质量服务的承诺和态度。“打造一站式教育服务平台”是前程
                |似锦的品牌理念。
            .img-level
                .img1
                    img(alt="img" src="src/resources/images/about-img-1.png")
                .img-right
                    .img2
                        img(alt="img" src="src/resources/images/about-img-2.png")
                    .img3  
                        img(alt="img" src="src/resources/images/about-img-3.png")
    .contact-us
        .map
            iframe(src="includes/map.html", frameborder="0")
        .context
            .title 联系我们
            .company-title 四川前程似锦科技有限公司
            ul
                li
                    span 地址：四川省成都市高新区天府软件园C区7座
                    span 手机：18782926215
                li
                    span 邮箱：weigp@qianchengsijin.com
                    span 传真：028-88886666
                li
                    span 电话：028-88888888
                    span 邮编：610041
            p
                span 关注我们：
                img(src="src/resources/images/Contact-icon-1.png", alt="p1")
                img(src="src/resources/images/Contact-icon-2.png", alt="p1")
                img(src="src/resources/images/Contact-icon-3.png", alt="p1")