//- extends index.pug
extends index.pug
block link
    link(rel="stylesheet", href="home_shell.css")
block content
    .common
        .pas
            .intro_title
                .home_title
                    .word 产品与服务
                    .box_shadow Products & solutions
                .more more
            .context
                .part
                    .img_intro
                    p App
                    p.des 这是一些杂七杂八的描述
                    .learnmore 了解更多
                .part
                    .img_intro
                    p App
                    p.des 这是一些杂七杂八的描述这是一些杂七杂八的描述这是一些杂七杂八的描述这是一些杂七杂八的描述这是一些杂七杂八的描述
                    .learnmore 了解更多
    script(src="home_shell.js")