doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet", href="index.css")
    body
        include includes/overview.pug
        h1 #{message}
        include includes/footer.pug
        script(src="index.js")