doctype html
html
    head
        include includes/header.pug
        block link
    body
        include includes/overview.pug
        block content
        include includes/footer.pug
        script(src="dist/index.page.js")