//- extends index.pug
extends index.pug
block link
    link(rel="stylesheet", href="dist/pas.page.css")
block content
    include includes/mixins.pug
    .pas
        .levelone
            .breadcrumb
                span 首页 - 
                span 产品与服务
            .pruduce
                div 全部
                div C端产品
                div B端产品
        +pas()