//- extends index.pug
extends index.pug
block link
    link(rel="stylesheet", href="dist/pas.page.css")
block content
    .pas
        .levelone
            .breadcrumb
                span 首页 - 
                span 产品与服务
            .pruduce
                div 全部
                div C端产品
                div B端产品
        .context
            .part
                .img_intro
                    img(alt="p1" src="src/resources/images/home-ps-img1.png")
                p App
                p.des 前程似锦创立于2017年，是以教育为导向的社交平台，通过大数据分析为家长提供既有参与感又个性化的选择教育体验。
                .learnmore 了解更多
            .part
                .img_intro
                    img(alt="p2" src="src/resources/images/home-ps-img2.png")
                p App
                p.des 功能齐全、贴合培训学校运营管理实际的系统软件，能方便快捷解决学校招生、教务、缴费、财务、人事等环节的管理问题。
                .learnmore 了解更多