//- extends secondary.pug
extends secondary.pug
block link
    link(rel="stylesheet", href="dist/pas.detail.css")
block content
    include includes/mixins.pug
    +nav()
    .pas_panel
        .breadcrumb
            span 首页 - 
            span 产品与服务 -
            span 产品详情
        .child_panel
            .left
                h2 前程似锦
                p QianChengSiJin
                p 帮你轻松做优秀家长，给孩子选择更好的成长天地
            .right
    .ht
        .left
            img(src="src/resources/images/pas/ht/img.png" alt="p")
        .right
            h2 托管培训
            p 为您提供真实、优质、精准、便捷的教育查询订购服务，轻松找到身边的优质教育。
            p 
                img(src="src/resources/images/pas/ht/icon-1.png" alt="p")
                span 兴趣爱好  
            p
                img(src="src/resources/images/pas/ht/icon-2.png" alt="p")
                span 附近机构
            p 
                img(src="src/resources/images/pas/ht/icon-3.png" alt="p")
                span 热门课程
    .course
        .left
            h2 专享拼课
            p 花更少的钱，享受更好的优质教育资源
            p 
                img(src="src/resources/images/pas/ht/icon-1.png" alt="p")
                span 专享折扣  
            p
                img(src="src/resources/images/pas/ht/icon-2.png" alt="p")
                span 优质教育
            p 
                img(src="src/resources/images/pas/ht/icon-3.png" alt="p")
                span 平台担保  
        .right
            img(src="src/resources/images/pas/course/img.png" alt="p")
    .est
        .left 
            img(src="src/resources/images/pas/est/img.png" alt="p")
            p(class="est-p1")
                img(src="src/resources/images/pas/ht/icon-1.png" alt="")
                span 亲子活动
            p(class="est-p2")
                img(src="src/resources/images/pas/ht/icon-2.png" alt="")
                span 儿童乐园
            p(class="est-p3")
                img(src="src/resources/images/pas/ht/icon-3.png" alt="")
                span 海外游学
        .right
            h2 拓展游学
            p 寓教于乐的方案指导，周末、假日里学习成长两不误。
    .ci
        .left
            h2 社区资讯
            p 寓给家长提供一个交流、提问、学习、探索的平台。
        .right
            img(src="src/resources/images/pas/ci/img.png" alt="p")
            p(class="ci-p1")
                img(src="src/resources/images/pas/ht/icon-1.png" alt="")
                span 交流平台 
            p(class="ci-p2")
                img(src="src/resources/images/pas/ht/icon-2.png" alt="")
                span 入学政策
            p(class="ci-p3")
                img(src="src/resources/images/pas/ht/icon-3.png" alt="")
                span 择校疑问