@import "var.styl"
@import "mixins.styl"

.culture
    margin 100px auto
    width $common-width
    .breadcrumb
        display flex
        justify-content flex-end
        margin-top 180px
        margin-bottom 72px
    >h1
        text-align center
        margin 0px 0px 72px 0px
    >p
        context()
        // text-align center
        // color #7f9099
        // font-size 18px 
        // line-height 48px
    >.info-div
        display flex
        margin 60px auto 72px auto
        flex-wrap wrap
        >.info
            width 586px
            margin-right 24px
            border-width 1px
            border-style solid 
            border-radius 20px
            flex-shrink 0
            flex-grow 0
            >h3
                padding-left 20px
            >p
                padding 20px
        >.info1
            border-color #3cacf8
            margin-bottom 44px
        >.info2
            border-color #ee7e57
            margin-right 0px !important
            margin-bottom 44px
        >.info3
            border-color #edd276
    >.image-show
        display flex
        >.image-box 
            display flex
            justify-content center
            align-items center
            overflow hidden
            height 240px
            width 240px
            border-radius 100px
            margin-right 80px
            &:last-child
                margin-right 0
            >img 
                height 100%
                width 100%
.culture-outter
    width 100%
    height auto
    >.culture-inner1
        width inherit 
        background #f5f6f7 url("../images/home-bk-img.png") repeat 
        position relative
        >.part1
            margin 100px auto
            width $common-width
            unknowname()
            >h1
                text-align center
            >p
                text-align center
                context()
            padding 76px 0px 180px 0px
        company_resume()
        >.company_resume
            position absolute
            bottom -81px
            left 50%
            margin-left $offset-left
            background $main-color
            align-items center
            >.part
                margin 20px 0px
            border-radius 20px
    >.company_process
        margin 180px auto 156px auto
        width $common-width
        // display flex
        // justify-content center
        // align-items center
        // position relative
        // flex-direction columns
        >div
            display flex
            justify-content center 
            >.img1,.img3
                margin-right 105px
            >.img2
                margin-right -230px
            >.div
                margin-right 30px
                p
                    font-size 12px
                    color #7f9099