@import "var.styl"




html,body
    margin 0
    padding 0
    a
        text-decoration none 
        &:link
            color inherit 
        &:visited
            color inherit 
        &:active
            color inherit 
        &:hover
            color inherit 
    #overview
        position relative
        background-color transparent
        >.swiper-container 
            width 100%
            height 650px
            >.swiper-wrapper
                >.swiper-slide
                    position relative
                    overflow hidden
                    >h3
                        position absolute
                        left 0px
                        right 0px
                        text-align center
                        z-index 3
                        color #ffffff
                        top 46%
                    >p
                        left 0px
                        right 0px
                        top 50%
                        position absolute
                        text-align center
                        z-index 3
                        color #ffffff
                    >img 
                        height 100%
                        width 100%
        >.navigation
            position absolute
            left 0
            right 0
            top 0
            z-index 1
            background-color transparent
            display flex
            justify-content space-around
            height auto
            >.index
                display flex
                height 60px
                align-items center
                >.item
                    display inline-block
                    margin-right 15px
                    padding 5px 0px
                    width 120px
                    text-align center
                    &:hover
                        background-color #ffffff
                        color #000000
                        border-radius 20px
                        cursor pointer
        >.foreword
            width $common-width
            height 60px
            position absolute
            left 50%
            margin-left $offset-left
            border-radius 80px
            bottom -30px
            z-index 1
            background-color #ffffff
            box-shadow: 0px 5px 3px #888888;
            display flex
            justify-content space-around
            align-items center
            >.pagination
                display flex
                cursor pointer
                >.page
                    margin-left 15px
                    height 10px
                    width 10px
                    border-radius 10px
                    background #d0efff
                >.page-current
                    background #13a8ff
    .intro_title
        position relative
        width 100%
        height 60px
        >.word
            font-size 24px 
            position absolute
            left 20px
            top 0px
        >.box_shadow
            position absolute
            left 40px
            top 24px
            font-size 24px
            width auto
            z-index -1
            color rgb(242,244,245)
        >.more
            margin-right 20px
            display inline-block
            padding 10px 20px
            border-radius 20px
            border 1px solid #2fb7ff
            color #2fb7ff
            cursor pointer
            float right
    .marginleft
        margin-left 100px
    .clearfix
        &:after
            clear both
            content ""
            width 0
            height 0
            visibility hidden
    .breadcrumb
        span 
            &:last-child
                font-weight bold
    #footer
        width 100%
        display flex
        justify-content center
        align-items center
        background-color $footer-color
