@import "var.styl"
@import "mixins.styl"



html,body
    margin 0
    padding 0
    font-family "微软雅黑"
    a
        text-decoration none 
        &:link
            color inherit 
        &:visited
            color inherit 
        &:active
            color inherit 
        &:hover
            color inherit 
    #overview
        position relative
        background-color transparent
        >.swiper-container 
            width 100%
            >.swiper-wrapper
                >.swiper-slide
                    position relative
                    overflow hidden
                    display inline-block
                    >h3
                        position absolute
                        left 0px
                        right 0px
                        text-align center
                        z-index 3
                        color #ffffff
                        top 10%
                        font-size 96px
                    >p
                        left 0px
                        right 0px
                        top 50%
                        position absolute
                        text-align center
                        z-index 3
                        color #ffffff 
                        font-size 24px
                    >img 
                        width 100%
                        vertical-align middle
        >.navigation
            position absolute
            left 0
            right 0
            top 0
            z-index 1
            background-color transparent
            display flex
            justify-content space-around
            height auto
            >.index
                display flex
                height 60px
                align-items center
                >.item
                    display inline-block
                    margin-right 15px
                    padding 5px 0px
                    width 120px
                    text-align center
                    color rgba(255,255,255,0.7)
                    &:hover
                        background-color #ffffff
                        color #000000
                        border-radius 20px
                        cursor pointer
        >.foreword
            width $common-width
            height 144px
            position absolute
            left 50%
            margin-left $offset-left
            border-radius 80px
            bottom -72px
            z-index 1
            background-color #ffffff
            box-shadow()
            display flex
            justify-content space-between
            align-items center
            >.intro_title
                height 60px
            >.swiper-container-text
                height 60px
                overflow hidden
                margin-left 72px
                .swiper-slide
                    display flex
                    >img 
                        margin-right 48px
                    >p
                        font-size 26px
                        display flex
                        align-items center
            // >.ptitle
            //     display none
            //     transition display 2.5s
            //     margin-left 100px
            // >.ptitle-0
            //     display block
            >.pagination
                display flex
                cursor pointer
                margin-right 72px
                >.page
                    margin-left 15px
                    height 10px
                    width 10px
                    border-radius 10px
                    background #d0efff
                >.page-current
                    background #13a8ff
    .intro_title
        position relative
        width 100%
        height 120px
        >.word
            font-size 30px 
            position absolute
            left 0
            top 0px
        >.box_shadow
            position absolute
            left 0
            top 11px
            font-size 48px
            width auto
            z-index 1
            color rgba(0,34,51,0.1)
        >.more
            width 180px
            height 60px
            font-size 18px
            margin-right 20px
            display inline-block
            text-align center
            line-height 60px
            border-radius 60px
            border 1px solid #2fb7ff
            color #2fb7ff
            cursor pointer
            float right
    .marginleft
        margin-left 100px
    .clearfix
        &:after
            clear both
            content ""
            width 0
            height 0
            visibility hidden
    .breadcrumb
        span 
            &:last-child
                font-weight bold
    #footer
        width 100%
        height 60px
        display flex
        justify-content center
        align-items center
        background-color $footer-color
        color #002233
