@import "var.styl"
@import "mixins.styl"

pas()
.phundred
    width 100%
    height auto
    background #f5f6f7 url("../images/home-bk-img.png") repeat
    >.pmessage
        width $common-width
        margin 0px auto
    >.pshow
        display flex
        >.part
            background #ffffff
            margin-bottom 50px
            border-radius 5px
            overflow hidden
            box-shadow: 0px 5px 3px #888888
            width 19%
            height 450px
            flex-grow 1
            margin-right 15px
            &:last-child 
                margin-right 0px
            >.figure
                height 30%
                >img 
                    width 100%
                    height 100%
            >.context
                padding 5px 10px
    >.company_hundred
        width 100%
        margin-top 40px
        height 300px
        position relative
        background-color:rgba(19,174,255,0.4)
        company_resume()
        >.logo_story
            position absolute
            width $common-width
            left 50%
            margin-left $offset-left
            top 200px
            border-radius 20px
            display flex
            z-index 1
            background-color #ffffff
            box-shadow 0px 5px 3px #888888
            >.logo
                height 250px
                width 250px
                min-width 250px
                border 1px solid gray 
                border-radius 5px
                margin 50px
                >img
                    height 100%
                    width 100%
            >.story
                margin 50px 50px 50px 0px
.our_customer
    width $common-width
    margin 300px auto 100px auto
    >.customer
        width 100%
        display flex
        flex-wrap wrap
        >.part
            width 18%
            height 150px
            margin 20px 20px 0px 0px
            box-shadow: 0px 5px 3px #888888
            border-radius 5px
            overflow hidden
            >.figure
                height 120px
                width 100%
                display flex
                justify-content center
            >.name
                display flex
                line-height 30px
                justify-content center

