.pas
    width 100%
    >.intro_title
        display flex
        justify-content space-between
        align-items center
        >.home_title
            position relative
            width 50%
            padding 20px 0px
            >.word
                padding 30px 10px
                font-size 24px 
            >.box_shadow
                position absolute
                left 20px
                bottom 34px
                font-size 24px
                width auto
                z-index -1
                color rgb(242,244,245)
        >.more
            margin-right 20px
    >.context
        display flex
        >.part
            width 48%
            &:first-child
                margin-right 2%
            >.img_intro
                height 200px
                border-radius 5px
                background green 
            >.learnmore
                display inline-block
                padding 5px 10px
                cursor pointer
                border-radius 15px
                border 1px solid #b9c2c7
                color #b9c2c7