@import "mixins.styl"


nav()
.job-list-bg
    padding 100px 0px
    background #f5f6f7 url("../images/home-bk-img.png") repeat 
    job()
    >.job-panel
        margin 0px auto
    >.pag
        display flex
        width 500px
        >div
            margin-right 10px
            flex-shrink 0
            padding 10px 20px
            color #7f8f99
            background-color #ffffff
            cursor pointer
            border-radius 5px
        margin 100px auto