@import "mixins.styl"


nav()
.job-list-bg
    padding 90px 0px 120px 0px
    background #f5f6f7 url("../images/home-bk-img.png") repeat 
    job()
    >.job-panel
        margin 0px auto
        padding 0px
        >.breadcrumb
            margin-bottom 76px
    >.pag
        display flex
        width 500px
        >div
            margin-right 10px
            flex-shrink 0
            padding 10px 20px
            color #7f8f99
            background-color #ffffff
            cursor pointer
            border-radius 5px
        margin 120px auto 0px auto
#footer
    background-color #ffffff !important