@import "var.styl"
@import "mixins.styl"

.join-bg
    width 100%
    height auto
    background #f5f6f7 url("../images/home-bk-img.png") repeat
    job()
.white-bg
    width 100%
    >.common
        margin 100px auto
        width $common-width
        unknowname()
