@import "var.styl";

unknowname()
    .unknowname
        width 100%
        >h1
            text-align center
        >section 
            margin 50px auto
            display flex
            justify-content space-between
            >div
                background #ffffff
                box-shadow: 0px 5px 3px #888888
                border-radius 10px
                margin-right 30px
                &:last-child
                    margin-right 0px
                >.img
                    img 
                        width 100%
                        height 100%
                >.word
                    >h3
                        text-align left 
                    >p
                        text-align left
pas()
    .pas
        width $common-width
        margin 80px auto 60px auto
        >.context
            display flex
            >.part
                width 48%
                &:first-child
                    margin-right 2%
                >.img_intro
                    height 300px
                    border-radius 5px
                    width 100%
                    overflow hidden
                    >img 
                        height 100%
                        width 100%
                >.learnmore
                    display inline-block
                    padding 5px 10px
                    cursor pointer
                    border-radius 15px
                    border 1px solid #b9c2c7
                    color #b9c2c7
company_resume()
    .company_resume
        width $common-width
        display flex
        margin 0px auto
        justify-content space-around
        color #ffffff
        >.part
            margin-top 40px
            border-right 3px solid #ffffff
            display flex
            justify-content center
            flex-direction column
            width 18%
            &:last-child
                border-right-width 0px
            >p
                margin 5px 10px
                text-align center
            >.m
                font-size 36px
                font-weight bold
                >span 
                    font-size 13px
            >.t
                font-size 14px
job()
    >.job-panel
        margin 100px auto
        width $common-width
        >.job-list
            display flex
            flex-wrap wrap
            >.job-outline
                display flex
                border-radius 10px
                margin 10px 1% 10px 0px
                background-color #ffffff
                width 48%
                justify-content space-between
                >.left
                    padding-left 20px
                >.right
                    padding-right 20px
                    display flex
                    justify-content center
                    align-items center
nav()
    .navigation_black
        display flex
        justify-content space-around
        background-color #000000
        align-items center
        >.index
            display flex
            height 60px
            align-items center
            >.item
                display inline-block
                margin-right 15px
                padding 5px 0px
                width 120px
                text-align center
                color #ffffff
                &:hover
                    background-color #ffffff
                    color #000000
                    border-radius 20px
                    cursor pointer