@import "var.styl"
@import "mixins.styl"


nav()

.pas_panel
    background #082232 url("../images/home-bk-img.png") repeat 
    height 300px
    width 100%
    color #ffffff
.ci,.course,.est,.ht
    width $common-width
    margin 50px auto
.ht
    display flex
    >.left
        width 50%
        img 
            height 100%
            width 100%
    >.right
        padding 100px 0px 0px 50px
        >p
            display flex
            align-items center
            >img
                margin-right 20px
.course
    display flex
    >.left
        width 50%
        padding 100px 0px 0px 50px
        >h2
            text-align right
        >p
            display flex
            align-items center
            justify-content flex-end
            >img 
                margin-right 20px
    >.right
        >img 
            height 100%
            width 100%
.est
    display flex
    >.left
        position relative
        width 70%
        >img 
            height 100%
            width 100%
        >p
            width 100px
            display flex
            align-items center
            position absolute
            bottom 150px    
        >.est-p1
            left 50px
        >.est-p2
            left 200px
        >.est-p3
            left 350px
    >.right
        padding 200px 0px 0px 50px
.ci
    display flex
    >.left
        width 30%
        padding 200px 0px 0px 50px
    >.right
        position relative
        margin-left 100px
        >img 
            height 100%
            width 100%
        >p
            width 100px
            display flex
            align-items center
            position absolute
            bottom 150px    
        >.ci-p1
            left 50px
        >.ci-p2
            left 200px
        >.ci-p3
            left 350px
