@import "home.styl"
@import "mixins.styl"

pas()

active()
    color #ffffff
    background $main-color
    cursor pointer

.pas
    >.levelone
        display flex
        justify-content space-between
        align-items center
        margin 20px auto 92px auto
        >.pruduce
            display flex
            >div
                padding 10px 20px
                border-radius 30px
                &:hover
                    active()
            >.active
                active()